body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



@media only screen and (max-width: 768px) {
    /* styles for mobile devices */

    /* --------------------NAVBAR------------------- */
    #navbar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
    
            color: white;
            height: 70px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgb(40, 59, 79);
    
        }
    
        #logo {
            flex-grow: 1;
            cursor: pointer;
            font-size: large;
            font-weight: 600;
        }
    
        .option {
    
            cursor: pointer;
            margin: 20px;
            transition: 0.2s;
        }
    
        .option:hover {
            transform: translateY(-5px);
            color: rgb(97, 164, 241);
        }
    
        #main {
            width: 100vw;
            overflow-x: hidden;
        }
    
        .option a {
            color: aliceblue;
            text-decoration: none;
    
        }
    
        #logo a {
            color: aliceblue;
            text-decoration: none;
        }
    /* ------------------------------------ */
    /* -----------------HERO SECTION------------------------ */
        #hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90vh;
            background-image: url('./assets/hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x:-350px; 
            opacity: 0.8;
        }
    
        #big {
            color: white;
    
            font-size: 30px;
            margin-bottom: 10px;
        }
    
        #small {
            color: rgb(190, 190, 190);
            font-size: 20px;
        }
    /* ---------------------------------------------- */
    /* -------------------------ABOUT SECTION----------------------- */
        #about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            background-color: rgb(255, 255, 255);
        }
    
        #about-photo {
            width: 100vw;
            height: 500px;
            background-image: url('./assets/about.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            
        }
    
        #about-desc {
            width: 100vw;
            height: 100%;
            /* text-align: center; */
            text-justify: center;
            
            padding-left: 30px;
            padding-right: 30px;
            margin:30px;
        }
    
        #about-desc p {
            font-weight: 100;
           padding-left: 30px;
           padding-right: 30px;
            font-size: 3.5vw;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(26, 46, 69, 0.677);
        }
    
    /* ---------------------------------------------------- */
    /* ---------------------PRICING SECTION------------------------- */
        #price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 10px;
        }
    
        .price-item {
            display: flex;
            flex-direction: column;
            height: 65vh;
            margin: 10px;
            border-radius: 10px;
            border: 1px solid rgb(40, 59, 79);
            background-color: rgb(40, 59, 79);
        }
    
        .price-head {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            color: white;
            background-color: rgba(255, 255, 255, 0.148);
        }
    
        .price-foot {
            position: relative;
    
    
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 5px;
            font-size: large;
            font-weight: 200;
            background-color: rgba(255, 255, 255, 0.09);
            color: white;
            transition: 0.2s;
        }
    
        .price-foot:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    
        .price-det {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-grow: 1;
            font-weight: 100;
            padding-right: 20px;
            padding-left: 20PX;
            color: rgba(255, 255, 255, 0.879);
    
        }
    
        .price-det li {
            margin: 5px;
        }
    /* -------------------------------------------- */
    /* -------------------------CALL TO ACTION------------------ */
        #callToAction {
            height:50vh;
            background-image: url('./assets/call.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -250px;
        }
    
        #callback {
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            padding-top: 0;
            height: 100%;
            color: rgba(255, 255, 255, 0.671);
            background-color: rgba(0, 0, 0, 0.675);
        }
    
        #callback h1 {
            font-weight: 200;
        }
    
        #callback h3 {
            font-weight: 200;
        }
        /* ------------------------------------------------------- */
    /* --------------------TEAM--------------------------- */
        #team {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* height: 60vh; */
    
        }
    
        .member {
            /* height: 20vh; */
            width: 90vw;
            margin:10px;
            border-radius: 10px;
            /* background-color: bisque; */
    
        }
    
        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            font-size: 3.5vw;
            font-weight: 200;
            color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: rgba(40, 59, 79, 0.9);
            transform: translateY(-40px);
            opacity: 0;
    
            transition: 0.2s;
    
        }
    
        .name-visible {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            font-size: 3.5vw;
            font-weight: 200;
            color: white;
            background-color: rgba(40, 59, 79, 0.9);
            transform: translateY(-50px);
            opacity: 1;
            transition: 0.2s;
        }
    
        .image {
            border-radius: 10px;
            width: 100%;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        }
        /* ---------------------------------------------- */
        /* ----------------------FOOTER----------------------------- */
    
        #footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
    
            color: rgba(255, 255, 255, 0.347);
            background-color: rgb(40, 59, 79);
            padding: 10px;
            padding-top: 0px;
            padding-bottom: 30px;
        }
    
        #footer-det {
            padding: 10px;
            padding-left: 10px;
            padding-right: 10px;
            color: rgba(255, 255, 255, 0.421);
            background-color: rgb(40, 59, 79);
        }
    
        #footer-copy {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: small;
            background-color: rgb(50, 71, 95);
            color: rgba(255, 255, 255, 0.474);
            height: 30px;
        }
    
        #footer-contact {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 3.5vw;
            
            margin-right: 30px;
        }
        #footer-contact h4{
            width:100vw;
        }
    
        #footer-contact p{
            padding-right:20px;
        }
        #footer-contact p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }
    
        #footer-social {
            display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                font-size: 3.5vw;
            margin-right: 30px;
    
        }
        #footer-social p{
            padding-right:20px;
        }
        #footer-social h4{
            width:100vw;
        }
    
        #footer-social p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }
    
        #footer-service {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 3.5vw;
            
            flex-grow: 1;
            margin-right: 50px;
    
        }
    
        #footer-service p {
            padding-right:20px;
        }
        #footer-service h4{
            width: 100vw;
        }
    
        h4 {
            color: rgba(255, 255, 255, 0.612);
        }
    /* ------------------------------------------------------ */

    /* --------------PARTNERS-------------------- */
        #partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            background-color: aliceblue;
        }
    
        .brand {
            width: 50px;
            height: 50px;
            margin: 10px;
        }
    
        /* ................contact page............... */
    
        #contact-form {
            background-image: url('./assets/contactBack.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;
            padding:30px;
            height: 100vh;
    
        }
    
        .contact-section {
    
            padding: 50px 0;
        }
    
        .section-heading {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 50px;
        }
    
        .contact-form {
            max-width: 600px;
            margin: 0 auto;
        }
    
        .form-group {
            margin-bottom: 20px;
        }
    
        .form-control {
            border: none;
            border-radius: 4px;
            background-color: #fff;
            padding: 15px 20px;
            width: 100%;
            font-size: 1.1rem;
            color: #333;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
    
        .form-control:focus {
            outline: none;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }
    
        textarea.form-control {
            height: 200px;
        }
    
        .btn {
            border: none;
            border-radius: 4px;
            padding: 15px 30px;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            background-color: #0077b6;
            transition: all 0.3s ease;
        }
    
        .btn:hover {
            background-color: #023e8a;
            cursor: pointer;
        }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* styles for tablets */

    #navbar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
    
            color: white;
            height: 70px;
            padding-left: 100px;
            padding-right: 100px;
            background-color: rgb(40, 59, 79);
    
        }
    
        #logo {
            flex-grow: 1;
            cursor: pointer;
            font-size: large;
            font-weight: 600;
        }
    
        .option {
    
            cursor: pointer;
            margin: 30px;
            transition: 0.2s;
        }
    
        .option:hover {
            transform: translateY(-5px);
            color: rgb(97, 164, 241);
        }
    
        #main {
            width: 100vw;
            overflow-x: hidden;
        }
    
        .option a {
            color: aliceblue;
            text-decoration: none;
    
        }
    
        #logo a {
            color: aliceblue;
            text-decoration: none;
        }
    
        #hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 100px;
            width: 100%;
            height: 90vh;
            background-image: url('./assets/hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            /* background-position-x:-400px;  */
            opacity: 0.8;
        }
    
        #big {
            color: white;
    
            font-size: 50px;
            margin-bottom: 10px;
        }
    
        #small {
            color: rgb(190, 190, 190);
            font-size: 20px;
        }
    
        #about {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px;
            height: 90vh;
            background-color: rgb(255, 255, 255);
        }
    
        #about-photo {
            width: 60vw;
            height: 100%;
            background-image: url('./assets/about.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 20px;
            margin-left:10px;
    
        }
    
        #about-desc {
            width: 50%;
            height: 100%;
            /* text-align: center; */
            text-justify: center;
            padding: 20px;
        }
    
        #about-desc p {
            font-weight: 100;
            font-size: 1.6vw;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(26, 46, 69, 0.677);
        }
    
    
        #price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 30px;
        }
    
        .price-item {
            display: flex;
            flex-direction: column;
            height: 65vh;
            margin: 30px;
            border-radius: 10px;
            border: 1px solid rgb(40, 59, 79);
            background-color: rgb(40, 59, 79);
        }
    
        .price-head {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            color: white;
            background-color: rgba(255, 255, 255, 0.148);
        }
    
        .price-foot {
            position: relative;
    
    
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 5px;
            font-size: large;
            font-weight: 200;
            background-color: rgba(255, 255, 255, 0.09);
            color: white;
            transition: 0.2s;
        }
    
        .price-foot:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    
        .price-det {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex-grow: 1;
            font-weight: 100;
            padding-right: 20px;
            padding-left: 20PX;
            color: rgba(255, 255, 255, 0.879);
    
        }
    
        .price-det li {
            margin: 5px;
        }
    
        #callToAction {
            height: 50vh;
            background-image: url('./assets/call.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -250px;
        }
    
        #callback {
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 150px;
            padding-top: 0;
            height: 100%;
            color: rgba(255, 255, 255, 0.671);
            background-color: rgba(0, 0, 0, 0.675);
        }
    
        #callback h1 {
            font-weight: 200;
        }
    
        #callback h3 {
            font-weight: 200;
        }
    
        #team {
            display: flex;
            flex-direction: row;
            justify-content: center;
            /* height: 60vh; */
    
        }
    
        .member {
            /* height: 20vh; */
            width: 20vw;
            margin: 30px;
            border-radius: 10px;
            /* background-color: bisque; */
    
        }
    
        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            font-size: 1.6vw;
            font-weight: 200;
            color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: rgba(40, 59, 79, 0.9);
            transform: translateY(-40px);
            opacity: 0;
    
            transition: 0.2s;
    
        }
    
        .name-visible {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            font-size: 1.6vw;
            font-weight: 200;
            color: white;
            background-color: rgba(40, 59, 79, 0.9);
            transform: translateY(-50px);
            opacity: 1;
            transition: 0.2s;
        }
    
        .image {
            border-radius: 10px;
            width: 100%;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        }
    
        #footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
    
            color: rgba(255, 255, 255, 0.347);
            background-color: rgb(40, 59, 79);
            padding: 100px;
            padding-top: 0px;
            padding-bottom: 30px;
        }
    
        #footer-det {
            padding: 10px;
            padding-left: 100px;
            padding-right: 100px;
            color: rgba(255, 255, 255, 0.421);
            background-color: rgb(40, 59, 79);
        }
    
        #footer-copy {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: small;
            background-color: rgb(50, 71, 95);
            color: rgba(255, 255, 255, 0.474);
            height: 30px;
        }
    
        #footer-contact {
            width: 15vw;
            margin-right: 30px;
        }
    
        #footer-contact p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }
    
        #footer-social {
            width: 10vw;
            margin-right: 30px;
    
        }
    
        #footer-social p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }
    
        #footer-service {
    
            width: 15vw;
            flex-grow: 1;
            margin-right: 50px;
    
        }
    
        #footer-service p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }
    
        h4 {
            color: rgba(255, 255, 255, 0.612);
        }
    
        #partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            background-color: aliceblue;
        }
    
        .brand {
            width: 80px;
            height: 80px;
            margin: 20px;
        }
    
        /* ................contact page............... */
    
        #contact-form {
            background-image: url('./assets/contactBack.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;
            height: 100vh;
    
        }
    
        .contact-section {
    
            padding: 50px 0;
        }
    
        .section-heading {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 50px;
        }
    
        .contact-form {
            max-width: 600px;
            margin: 0 auto;
        }
    
        .form-group {
            margin-bottom: 20px;
        }
    
        .form-control {
            border: none;
            border-radius: 4px;
            background-color: #fff;
            padding: 15px 20px;
            width: 100%;
            font-size: 1.1rem;
            color: #333;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
    
        .form-control:focus {
            outline: none;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }
    
        textarea.form-control {
            height: 200px;
        }
    
        .btn {
            border: none;
            border-radius: 4px;
            padding: 15px 30px;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            background-color: #0077b6;
            transition: all 0.3s ease;
        }
    
        .btn:hover {
            background-color: #023e8a;
            cursor: pointer;
        }
}

@media only screen and (min-width: 1025px) {
    /* styles for desktops */

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        color: white;
        height: 70px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: rgb(40, 59, 79);

    }

    #logo {
        flex-grow: 1;
        cursor: pointer;
        font-size: large;
        font-weight: 600;
    }

    .option {

        cursor: pointer;
        margin: 30px;
        transition: 0.2s;
    }

    .option:hover {
        transform: translateY(-5px);
        color: rgb(97, 164, 241);
    }

    #main {
        width: 100vw;
        overflow-x: hidden;
    }

    .option a{
        color: aliceblue;
        text-decoration: none;

    }

    #logo a {
        color: aliceblue;
            text-decoration: none;
    }
    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
        width: 100%;
        height: 90vh;
        background-image: url('./assets/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -200px;
        opacity: 0.8;
    }

    #big {
        color: white;

        font-size: 50px;
        margin-bottom: 10px;
    }

    #small {
        color: rgb(190, 190, 190);
        font-size: 20px;
    }

    #about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px;
        height: 80vh;
        background-color: rgb(255, 255, 255);
    }

    #about-photo {
        width: 30%;
        height: 100%;
        background-image: url('./assets/about.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin: 50px;

    }

    #about-desc {
        width: 40%;
        height: 100%;
        margin: 20px;
        padding: 30px;
    }

    #about-desc p {
        font-weight: 100;
        font-size: 1.1vw;
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(26, 46, 69, 0.677);
    }


    #price {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:90vh;
        background-color: white;
        padding: 30px;
    }

    .price-item {
        display: flex;
        flex-direction: column;
        width: 25vw;
        height:80%;
        margin: 30px;
        border-radius: 10px;
        border: 1px solid rgb(40, 59, 79);
        background-color: rgb(40, 59, 79);
    }
    .price-head{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:60px;
        color: white;
background-color: rgba(255, 255, 255, 0.148);
    }
    .price-foot{
        position: relative;
        

height:70px;
display: flex;
justify-content: center;
align-items: center;
margin:10px;
border-radius: 5px;
font-size: large;
font-weight: 200;
background-color: rgba(255, 255, 255, 0.09);
color: white ;
transition: 0.2s;
    }
    .price-foot:hover{
        transform: scale(1.2);
        cursor: pointer;
    }

    .price-det{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex-grow: 1;
        font-weight: 100;
        font-size: 1.1vw;
        padding-right:20px;
        padding-left: 20PX;
        color:rgba(255, 255, 255, 0.879);
        
    }
   .price-det li {
    margin:5px;
   }

   #callToAction{
    height:50vh;
    background-image: url('./assets/call.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-250px ;
   }
   #callback{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:150px;
    padding-top:0;
    height:100%;
    color: rgba(255, 255, 255, 0.671);
    background-color: rgba(0, 0, 0, 0.675);
   }

   #callback h1{
    font-weight: 200;
   }
   #callback h3{
    font-weight: 200;
   }

   #team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

   }

   .member{
   
    width:20vw;
    margin:30px;
    border-radius: 10px;
   

   }

   .name{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    font-size: large;
    font-weight: 200;
color:white;
border-bottom-left-radius: 10px;
border-bottom-right-radius:10px ;
    background-color: rgba(40, 59, 79, 0.9);
    transform: translateY(-40px);
    opacity:0;
   
    transition:0.2s;

   }

   .name-visible {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       font-size: large;
       font-weight: 200;
color:white;
       background-color: rgba(40, 59, 79, 0.9);
       transform: translateY(-50px);
       opacity: 1;
    transition: 0.2s;
   }
   
   .image{
    border-radius: 10px;
    width:100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   }
    #footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        color: rgba(255, 255, 255, 0.347);
        background-color: rgb(40, 59, 79);
        padding:100px;
        padding-top:    0px;
        padding-bottom:30px;
    }
    #footer-det{
        padding:10px;
        padding-left:100px;
        padding-right:100px;
        color: rgba(255, 255, 255, 0.421);
        background-color: rgb(40, 59, 79);
    }

    #footer-copy{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: small;
        background-color: rgb(50, 71, 95);
        color: rgba(255, 255, 255, 0.474);
        height:30px;
    }

    #footer-contact{
        width: 15vw;
        margin-right:30px;
    }
    #footer-contact p:hover{
        cursor: pointer;
        transform: translateX(5px);
    }
    #footer-social{
        width: 10vw;
        margin-right:30px;

    }
        #footer-social p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }

    #footer-service{
        
       width:15vw;
       flex-grow: 1;
        margin-right:50px;

    }
        #footer-service p:hover {
            cursor: pointer;
            transform: translateX(5px);
        }
    h4 {
        color: rgba(255, 255, 255, 0.612);
    }

    #partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:20px;
        background-color: aliceblue;
    }

    .brand{
        width:100px;
        height:100px;
        margin:50px;
    }

    /* ................contact page............... */

    #contact-form{
background-image: url('./assets/contactBack.jpg');
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;
        height:100vh; 

   }

.contact-section {
    
    padding: 50px 0;
}

.section-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 15px 20px;
    width: 100%;
    font-size: 1.1rem;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

textarea.form-control {
    height: 200px;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #0077b6;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #023e8a;
    cursor: pointer;
}
}